.container{
    max-height:fit-content;
    max-width:fit-content;
    min-width: 500px;
    min-height:750px;
    background-image: url('base.png');
}

.title{
   font-family:futura;
   margin: 25px;
   color:#f5edf2;
   font-weight: bold;
   text-align:center;
   background-color:#7c74e6;
   border-radius: 10px;
}

.petView{
    display: block;
    width: 50%;
    margin: 150px auto 45px auto; 
}

.buttBar{
    margin: 8px auto 1px auto;
    display:block;
    max-width: 225px;
    min-width: auto;
    margin-left: auto;
    margin-right:auto;
}

.stats {
    max-width: 400px;
    flex-direction:column;
    margin-left: auto;
    margin-right:auto;
    vertical-align: auto;
}


.barBg {
    flex: 1;
    background-color: #a19ed4c2;
    border-radius: 6px;
    height:14px;
    overflow:hidden;
    margin-top: 26px;
}

.bar {
    height: 100%;
    border-radius: 6px;
    transition:  0.3s ease;
}

.hpBar { background-color: #e05ce0f3; width: 100%; }

.xpBar { background-color: #7b5ce0f3; width: 100%; }

.apBar { background-color: #5c8ce0f3; width: 100%; }

.statVal {
    width: 30px;
    font-weight: bold;
    color:#8f74e6;
    font-size: 20px;
}

.scoreRow {
    display: block;
    font-family:futura;
    margin: 25px 35% 10px 35%;
    color:#f5edf2;
    text-align:center;
    background-color:#7c74e6;
    border-radius: 10px;
}

button {
    background-color: #a19ed4;
    color: #f5edf2;
    padding: 5px 10px;
    min-width: 72px;
    max-width: 72px;
    border: solid;
    border-color:#d3d1f7;
    border-radius: 9px;
    border-width: 3px;
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 15px;
    
}

body{
    background-color:#d3d1f7;
    align-items:center;
}